*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}


:root {
	--bg: #0000001f;
}


body {
	background-color: var(--bg);
	font-size: 24px;
}


.main {
	width: 460px;
	height: 200px;
	position: absolute;
	inset: 0;
	margin: auto;
	border: 2px solid #0000001f;

	&__title {
		font-size: 2em;
		text-align: center;
		margin-bottom: 10px;
	}
}


.drop {
	width: 400px;
	height: 100%;
	position: relative;
	inset: 0;
	margin: auto;

	&__icon {
		width: 30px;
		height: 30px;
		background: #00000061;
		position: absolute;
		right: 0;
		top: 15px;
		margin-right: 5px;
		clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);		
		&--open {
			transition: transform 500ms linear;
			transform: rotate(180deg);
			clip-path: polygon(0 0, 100% 0, 50% 100%, 0 0);
		}
	}


	&__input {
		width: 100%;
		height: 60px;
		border: none;
		outline: none;
		font-size: 20px;
		padding: 20px;
		cursor: pointer;
	}


	&__btn {
		width: 100%;
		height: 60px;
		cursor: pointer;
		background: #000;
		font-size: 20px;
		color: #fff;
		font-weight: 600;
		padding: 20px;

		&--selected {
			opacity: 0;
			animation: fadeIn 500ms 1 linear both;
		}

		&:hover {
			background: #333;
		}
	}


	&__items {
		height: 100%;
		width: 100%;
		animation: expandir 500ms 1 linear both;
		position: absolute;
	}
}


.items {
	position: absolute;
	inset: 0;
	margin: auto;

	&__empty {
		font-size: 20px;
		color: #ff0030d4;
		text-align: center;
	}
}


@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
